body {
	background: cadetblue;
	padding: 0;
	margin: 0;

	transition: background 10s ease;
}

#time {
	position: absolute;
	top: 0px;
	left: 0px;

	padding: 10px;
	color: white;
	font-family: helvetica;
	font-size: 20px;
	font-weight: 100;
}

#cityscape {
	width: 100%;
	height: 100%;
}

.building {
	fill: #2b2330;
	stroke: black;
	stroke-width: 2px;
}

.window.window_unlit { fill: slategrey; }
.window.window_lit { fill: navajowhite; }

.ls.sun { fill: yellow; }
.ls.moon { fill: floralwhite; }